<!-- Sidebar -->
<div class="well sidebar-nav">
    <ul class="nav nav-list">
    <li>@Html.ActionLink("운영자가 드리는 말씀", "Read", "Home", new { id = "sdt00_99.htm" }, null)</li>
    <li class="nav-header">제1권 단독수련</li>                     
    <li>@Html.ActionLink("제1장 선도수련을 하기까지", "Read", "Home", new { id = "sdt01_01.htm" }, null)</li>

    <li class="nav-header">제2장 첫 변화</li>                     
    <li>@Html.ActionLink("1. 진동과 열감", "Read", "Home", new { id = "sdt01_02.htm" }, null)</li>
    <li>@Html.ActionLink("2. 소주천", "Read", "Home", new { id = "sdt01_03.htm" }, null)</li>
    <li>@Html.ActionLink("3. 다양한 현상들", "Read", "Home", new { id = "sdt01_04.htm" }, null)</li>
    <li>@Html.ActionLink("4. 전신주천", "Read", "Home", new { id = "sdt01_05.htm" }, null)</li>
    <li>@Html.ActionLink("5. 정리", "Read", "Home", new { id = "sdt01_06.htm" }, null)</li>
        
    <li class="nav-header">&nbsp;</li>                      
    <li>@Html.ActionLink("제3장 오랜 침체기 14개월", "Read", "Home", new { id = "sdt01_07.htm" }, null)</li>
    <li>@Html.ActionLink("제4장 선도 수련과 성(性)", "Read", "Home", new { id = "sdt01_08.htm" }, null)</li>
    <li>@Html.ActionLink("제5장 수련 관련 해설", "Read", "Home", new { id = "sdt01_09.htm" }, null)</li>
    <li>@Html.ActionLink("제6장 태평양 시대에는", "Read", "Home", new { id = "sdt01_11.htm" }, null)</li>
    <li>@Html.ActionLink("제7장 잡동사니", "Read", "Home", new { id = "sdt01_12.htm" }, null)</li>

    <li class="nav-header">제2권 단학선원 수련</li>
    <li>@Html.ActionLink("제1장 축기과정 4개월", "Read", "Home", new { id = "sdt02_01.htm" }, null)</li>
    <li>@Html.ActionLink("제2장 온몸으로 들어오는 기운", "Read", "Home", new { id = "sdt02_02.htm" }, null)</li>
    <li>@Html.ActionLink("제3장 완전한 대주천", "Read", "Home", new { id = "sdt02_03.htm" }, null)</li>
    <li>@Html.ActionLink("제4장 신공(神功)", "Read", "Home", new { id = "sdt02_04.htm" }, null)</li>
    <li>@Html.ActionLink("제5장 뿌리를 찾아야지", "Read", "Home", new { id = "sdt02_90.htm" }, null)</li>

    <li class="nav-header">제3권 환골탈태의 고통 6개월</li>
    <li>@Html.ActionLink("1. 고통의 시작", "Read", "Home", new { id = "sdt03_01.htm" }, null)</li>
    <li>@Html.ActionLink("2. 생전 처음 겪는 통증", "Read", "Home", new { id = "sdt03_02.htm" }, null)</li>
    <li>@Html.ActionLink("3. 또 한 고비 넘기다", "Read", "Home", new { id = "sdt03_03.htm" }, null)</li>
    <li>@Html.ActionLink("4. 도지는 육식 거부증", "Read", "Home", new { id = "sdt03_04.htm" }, null)</li>
    <li>@Html.ActionLink("5. 삶의 축을 옮겨라", "Read", "Home", new { id = "sdt03_05.htm" }, null)</li>
    <li>@Html.ActionLink("6. 성숙해진 마음", "Read", "Home", new { id = "sdt03_06.htm" }, null)</li>
    <li>@Html.ActionLink("7. 해설과 당부", "Read", "Home", new { id = "sdt03_07.htm" }, null)</li>
    <li>@Html.ActionLink("8. 잡동사니", "Read", "Home", new { id = "sdt03_08.htm" }, null)</li>

    <li class="nav-header">제4권 대전환</li>
    <li>@Html.ActionLink("1. 낙상/옛친구", "Read", "Home", new { id = "sdt04_01.htm" }, null)</li>
    <li>@Html.ActionLink("2. 절수련/경전 읽기", "Read", "Home", new { id = "sdt04_02.htm" }, null)</li>
    <li>@Html.ActionLink("3. 대선사의 비리", "Read", "Home", new { id = "sdt04_03.htm" }, null)</li>
    <li>@Html.ActionLink("4. 고민 속의 수련", "Read", "Home", new { id = "sdt04_04.htm" }, null)</li>
    <li>@Html.ActionLink("5. 선도체험기 출판", "Read", "Home", new { id = "sdt04_05.htm" }, null)</li>
    <li>@Html.ActionLink("대선사 비난 글 모음", "Read", "Home", new { id = "sdt04_06.htm" }, null)</li>
    <li>@Html.ActionLink("질의응답", "Read", "Home", new { id = "sdt04_07.htm" }, null)</li>
    <li>@Html.ActionLink("선도체험기 4권 서문", "Read", "Home", new { id = "sdt04_08.htm" }, null)</li>
    <li>@Html.ActionLink("선도체험기 1-10권 연표", "Read", "Home", new { id = "sdt04_09.htm" }, null)</li>

    </ul>
</div><!--/.well -->


